@page
@model ObligatorioProgramacion2.Pages.Eventos.DetalleSocialModel
@using Dominio;
@{
}



<table class="table table-bordered table-striped mt-4">
    <tr><th>ID Cliente</th><th>Nombre Cliente</th><th>ID</th><th>NOMBRE</th><th>ESTADO</th><th>UBICACION</th><th>CANTIDADASISTENTES</th><th>FECHAREALIZACION</th><th>FechaFinalizacion</th><th>TipoColaboracion</th><th>Catering</th><th>Costo Total</th> <th>Costos de los Servicios</th></tr>

   
        <tr>
        <td>@Model.EventoSocialesDetalle.Cliente.IdCliente</td>
        <td>@Model.EventoSocialesDetalle.Cliente.Nombre</td>
        <td>@Model.EventoSocialesDetalle.idEvento</td>
        <td>@Model.EventoSocialesDetalle.Nombre</td>
        <td>@Model.EventoSocialesDetalle.Estado</td>
        <td>@Model.EventoSocialesDetalle.Ubicacion</td>
        <td>@Model.EventoSocialesDetalle.CantidadAsistentes</td>
        <td>@Model.EventoSocialesDetalle.FechaRealizacion</td>
        <td>@Model.EventoSocialesDetalle.FechaFinalizacion</td>

        <td>@Model.EventoSocialesDetalle.TipoColaboracion</td>
        <td>@Model.EventoSocialesDetalle.IncluyeCatering</td>
        <td>@Model.EventoSocialesDetalle.CalcularCosto()</td>
        <td>@Model.EventoSocialesDetalle.CalcularCostoServicios()</td>
        </tr>


</table>




<table class="table table-bordered table-striped mt-4">
    <tr><th>ID</th><th>Tipo Servicio</th><th>Categoria</th><th>Costo</th><th>Proveedor</th> </tr>

    @foreach (ServiciosContratados servicios in Model.servicios)
    {
        <tr>
            <td>@servicios.IDServicios</td>
            <td>@servicios.TipoServicio</td>
            <td>@servicios.Categoria.NombreCategoria</td>
            <td>@servicios.Costo</td>
            <td>@servicios.Proveedor</td>



        </tr>

    }


</table>