@page
@model FiltrarPorFechaYMontoModel
@using Dominio;
@{
}




<div class="row d-flex justify-content-center">
    <form class="col-6" method="post">
     

        <div class="mb-3">
            <label asp-for="FechaRealizacion" class="form-label">Fecha Realizacion</label>
            <input type="text" class="form-control"  asp-for="FechaRealizacion">
        </div>

        <div class="mb-3">
            <label asp-for="FechaFinalizacion" class="form-label">Fecha Finalizacion</label>
            <input type="text" class="form-control" asp-for="FechaFinalizacion">
        </div>


   

        <div class="mb-3">
            <label asp-for="Monto" class="form-label">Monto</label>
            <input type="text" class="form-control" asp-for="Monto">
        </div>

        <button type="submit" class="btn btn-primary">Filtrar</button>


    </form>



    <h1>Eventos Corporativos</h1>
    <table class="table table-bordered table-striped mt-4">
        <tr><th>ID Cliente</th><th>Nombre Cliente</th><th>ID</th><th>NOMBRE</th><th>NombreEmpresa</th><th>ESTADO</th><th>UBICACION</th><th>CANTIDADASISTENTES</th><th>FECHAREALIZACION</th><th>FechaFinalizacion</th><th>Requiere Equipo</th> <th>Costo Total</th> <th>Costos de los Servicios</th> </tr>

        @foreach (EventoCorporativo Even in Empresa.Instancia.ObtenerEventosListaFiltradosPorFecha().OfType<EventoCorporativo>())
        {
            <tr>
                <td>@Even.Cliente.IdCliente</td>
                <td>@Even.Cliente.Nombre</td>
                <td>@Even.idEvento</td>
                <td>@Even.Nombre</td>
                <td>@Even.NombreEmpresa</td>
                <td>@Even.Estado</td>
                <td>@Even.Ubicacion</td>
                <td>@Even.CantidadAsistentes</td>
                <td>@Even.FechaRealizacion</td>
                <td>@Even.FechaFinalizacion</td>
                <td>@Even.RequiereEquipamientoTecnologico</td>
                <td>@Even.CalcularCosto()</td>
                <td>@Even.CalcularCostoServicios()</td>
                
        </tr>

        }


    </table>

    <h1>Eventos Sociales</h1>


    <table class="table table-bordered table-striped mt-4">
        <tr><th>ID Cliente</th><th>Nombre Cliente</th><th>ID</th><th>NOMBRE</th><th>ESTADO</th><th>UBICACION</th><th>CANTIDADASISTENTES</th><th>FECHAREALIZACION</th><th>FechaFinalizacion</th><th>TipoColaboracion</th><th>Catering</th><th>Costo Total</th> <th>Costos de los Servicios</th></tr>
     
        @foreach (EventoSociales EvenS in Empresa.Instancia.ObtenerEventosListaFiltradosPorFecha().OfType<EventoSociales>())
        {

            <tr>
                <td>@EvenS.Cliente.IdCliente</td>
                <td>@EvenS.Cliente.Nombre</td>
                <td>@EvenS.idEvento</td>
                <td>@EvenS.Nombre</td>
                <td>@EvenS.Estado</td>
                <td>@EvenS.Ubicacion</td>
                <td>@EvenS.CantidadAsistentes</td>
                <td>@EvenS.FechaRealizacion</td>
                <td>@EvenS.FechaFinalizacion</td>
                <td>@EvenS.TipoColaboracion</td>
                <td>@EvenS.IncluyeCatering</td>
                <td>@EvenS.CalcularCosto()</td>
                <td>@EvenS.CalcularCostoServicios()</td>

        </tr>
        }

    </table>



</div>
