@page
@model ListadoEventosModel
@using Dominio
@{
}

<h1>Listado de Eventos</h1>
<a class="btn btn-primary" asp-page="/Eventos/ListaCliente">Nuevo</a>

<h2>Eventos Corporativos</h2>
<table class="table table-bordered table-striped mt-4">
    <tr><th>Cliente</th><th>ID</th><th>Nombre</th><th>Empresa</th><th>Estado</th><th>Acciones</th></tr>

    @foreach (var evenCorporativo in Model.ListaCorporativos)
    {
        <tr>
            <td>@evenCorporativo.Cliente?.Nombre</td>
            <td>@evenCorporativo.idEvento</td>
            <td>@evenCorporativo.Nombre</td>
            <td>@evenCorporativo.NombreEmpresa</td>
            <td>@evenCorporativo.Estado</td>
            <td>
                <a class="btn btn-sm btn-outline-info" asp-page="AltaServicioCorporativo" asp-route-idEvento="@evenCorporativo.idEvento">Servicio</a>
                <a class="btn btn-sm btn-outline-success" asp-page="EditarEventoCorporativo" asp-route-idEvento="@evenCorporativo.idEvento">Editar</a>
                <a class="btn btn-sm btn-outline-danger" asp-page="EliminarEvento" asp-route-idEvento="@evenCorporativo.idEvento">Eliminar</a>
                <a class="btn btn-sm btn-outline-secondary" asp-page="DetalleCorporativo" asp-route-idEvento="@evenCorporativo.idEvento">Detalle</a>
            </td>
        </tr>
    }
</table>

<h2>Eventos Sociales</h2>
<table class="table table-bordered table-striped mt-4">
    <tr><th>ID Cliente</th><th>Nombre Cliente</th><th>ID</th><th>Nombre</th><th>Estado</th><th>Acciones</th></tr>

    @foreach (var evenSocial in Model.ListaSociales)
    {
        <tr>
            <td>@evenSocial.Cliente?.IdCliente</td>
            <td>@evenSocial.Cliente?.Nombre</td>
            <td>@evenSocial.idEvento</td>
            <td>@evenSocial.Nombre</td>
            <td>@evenSocial.Estado</td>
            <td>
                <a class="btn btn-sm btn-outline-info" asp-page="AltaServicioSocial" asp-route-idEvento="@evenSocial.idEvento">Servicio</a>
                <a class="btn btn-sm btn-outline-primary" asp-page="EditarEventoSocial" asp-route-idEvento="@evenSocial.idEvento">Editar</a>
                <a class="btn btn-sm btn-outline-danger" asp-page="EliminarEvento" asp-route-idEvento="@evenSocial.idEvento">Eliminar</a>
                <a class="btn btn-sm btn-outline-secondary" asp-page="DetalleSocial" asp-route-idEvento="@evenSocial.idEvento">Detalle</a>
            </td>
        </tr>
    }
</table>